*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;

}
nav{
    width:100%;
    height: 75px;
    line-height: 75px;
    padding:0px 100px;
  
    background-color: rgb(38,124,124);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
ul li{
    display: inline-block;
     list-style:none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px  30px;
    color:white;
    text-decoration: none;
}
nav li a:hover{
    color:black;
    transition: all o.4s ease 0s;

}
button {
    border:none;
    background-color: beige;
    padding: 10px 30px;
    border-radius: 30px;
   
    font-weight: bold;
    font-size: 15px;
    transition: .4s;

    margin-left: 20px;

}
button:hover{
   transform: scale(1.3);
   cursor: pointer;

}
button a{
    text-decoration: none;
    color: black;
}

  .caption {
    position: absolute;
    top: 50px;
    left: 250px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    width: 840px;
    height: 64px;
    font-size: 55px;
  }
  .servicesection {
    text-decoration: none;
    position: absolute;
    top: 653.3px;
    left: 0.1px;
    width: 1234px;
    height: 587px;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray);
  }
  .bannersectionbg {
    position: absolute;
    top: 2px;
    left: 0;
    background-color: rgba(27, 131, 255, 0.1);
    width: 1234px;
    height: 551px;
  }
  .image-icon,
  .imagebackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 553px;
  }
  .imagebackground {
    background-color: var(--color-gainsboro);
    width: 471px;
  }
  .image-icon {
    width: 700px;
    object-fit: cover;
  }
  .bannertextbackground,
  .imagebackground-parent {
    position: absolute;
    top: 0;
    left: 765px;
    width: 471px;
    height: 553px;
  }
  .bannertextbackground {
    left: 0;
    background-color: var(--color-aliceblue);
    width: 761px;
  }
  .searchbuttonarea-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: #ff984e;
    width: 137px;
    height: 46px;
  }
  .find-doctors {
    position: absolute;
    top: 12px;
    left: 7.26px;
    font-size: var(--font-size-2xs);
    letter-spacing: 0.02em;
    font-family: var(--font-roboto);
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    width: 97.86px;
    height: 24px;
  }
  .vector-icon {
    position: absolute;
    height: 51.61%;
    width: 12.03%;
    top: 19.57%;
    right: 8.41%;
    bottom: 28.83%;
    left: 79.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .catogeriesarea,
  .locationarea,
  .searchbuttonarea {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 383px;
    height: 46px;
  }
  .searchbuttonarea {
    cursor: pointer;
    padding: 0;
    left: 429px;
    width: 137px;
  }
  .catogeriesarea,
  .locationarea {
    font-family: var(--font-roboto);
    font-size: var(--font-size-2xs);
    left: 212px;
    width: 165px;
  }
  .catogeriesarea {
    left: 0;
    width: 204px;
  }
  .smalltextarea {
    position: absolute;
    top: 219px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 603px;
    height: 69px;
  }
  .captionarea {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    line-height: 60px;
    color: #010000;
    display: flex;
    align-items: center;
    width: 655px;
    mix-blend-mode: normal;
  }
  .bannersection,
  .searchbuttonarea-parent {
    position: absolute;
    top: 53px;
    left: 65px;
    width: 655px;
    height: 429px;
  }
  .bannersection {
    top: 100.3px;
    left: 0.1px;
    width: 1236px;
    height: 553px;
    font-size: 14px;
    color: #828177;
  }
  .main-card{
    display:flex;
    flex-wrap:wrap;
    padding: 1%;
    gap: 50px;
}
.main-card{
padding-left: 40px;
}
.card{
    max-width: 240px;
   background-color: rgb(255, 255, 255);
   box-shadow: 5px 10px 10px rgba(0,0,0,0.6);
   

}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.card h1{
    font-size: 18px;
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.p-card{
    font-size: 16px;
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: gray;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  background-color: rgb(38,124,124);
    padding: 70px 0; 
	margin-top: 90%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color:white;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}